<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <h1 class="text-center" style="font-size:70px">{{ gameStatue }}</h1>
        <section class="row">
            <div class="small-6 columns">
                <h1 class="">
                    YOU 
                    <transition name="slide-fade">
                        <span :style="{color: logColor}" v-show="showLog">
                            {{ logPlayer }}
                        </span>
                    </transition>
                </h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white; height: 40px;" v-bind:style="{width: playerHealth + '%'}">
                        {{ playerHealth }}

                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="">
                    MONSTER 
                    <transition name="slide-fade">
                        <span :style="{color: logColor}" v-show="showLog">
                            {{ logMonster }}
                        </span>
                    </transition>
                </h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white; height: 40px;" v-bind:style="{width: monsterHealth + '%'}">
                        {{ monsterHealth }}
                    </div>
                </div>
            </div>
        </section>
        <section v-if="!gameStarted" class="row controls">
            <div class="small-12 columns">
                <button id="start-game" @click="StartNewGame">StartNewGame</button>
            </div>
        </section>
        <section v-if="gameStarted" class="row controls">
            <div class="small-12 columns">
                <button v-if="showSpecialAttack && !specialAttackUsed" id="special-attack" @click="SpecialAttack">SPECIAL ATTACK</button>
                <button id="attack" @click="NormalAttack">ATTACK</button>
                <button id="heal" @click="Heal">HEAL</button>
                <button id="give-up" @click="GiveUp">GIVE UP</button>
            </div>
        </section>
    </div>
</body>

<script src="app.js"></script>

</html>
